version: "2" # https://docs.docker.com/compose/compose-file/#######

services:
  {{container_name}}:
    build:
      context: .
      dockerfile: docker-build/Dockerfile.cheerios
      args:
        - "drfdocspassword: {{drf_docs_password}}"
    image: {{image}}
    #mem_limit: 2g
    hostname: {{wsgi_hostname}}
    restart: always
    extra_hosts:
      - "MSSQLHOST: {{mssql_host}}"
      - "mongodb {{mongodb}}"
    environment:
      - MONGOHOST
      - MONGODB
      - MSSQLHOST
      - REDISHOST
      - NEW_RELIC_CONFIG_FILE
      - NEW_RELIC_ENVIRONMENT
      - NEW_RELIC_LICENSE_KEY
      - LOGLEVEL
      - DEBUG
      - VIRTUAL_HOST={{virtual_hosts}}
      - FIREBASE_KEY
      - BRONTO_API_KEY
      - IMAGE_SERVER_DIR=/var/www/cheerios/plr/
      - IMAGE_SERVER_ROOT={{image_server_root}}
      - IMAGE_SERVER_STP=/var/www/cheerios/stp/
      - IMAGE_SERVER_PWR=/var/www/cheerios/pwr/
      - PNG_IMAGE_SERVER_DIR=/var/www/cheerios/plr/png/
      - PCI_API_KEY
      - RKI_API_KEY
      - MANIFEST_API_KEY
      - MONGOPORT
      - REDISPORT
      - MSSQLDBPROG
      - MSSQLDBGAMEPLAY
      - MSSQLUSERDB
      - MSSQLPLAYERPLUSDB
      - MSSQLDBGAMEMGMT
      - MSSQLUSER
      - MSSQLPASSWORD
      - CRISPAPIKEY
      - SPORTRADAR_API_KEY
      - REDIS_MASTER_HOST
      - REDIS_SLAVE_1_HOST
      - REDIS_SLAVE_2_HOST
      - RECAPTCHA_VERIFY_URL
      - REDIS_PORT
      - MSSQLBROADCAST
      - CAPTCHA_SECRET_KEY
      - BUZZTIME_SUBSCRIBERS_LIST_ID
      - BIRTHDATE_FIELD_ID
      - CUSTOM_SOURCE_FIELD_ID
      - DISPLAY_NAME_FIELD_ID
      - HOME_SITE_ID_FIELD_ID
      - HOME_SITE_NAME_FIELD_ID
      - PLAYER_ID_FIELD_ID
      - REG_DATE_FIELD_ID
      - REGISTERED_SITE_ID_FIELD_ID
      - REGISTERED_SITE_NAME_FIELD_ID
      - USERNAME_FIELD_ID
      - MM_CHECK_PERMISSION_API
      - RMQ_USERNAME
      - RMQ_PASSWORD
      - RMQ_HOST
      - RMQ_PORT
      - MM_FIREBASE_API_KEY
      - MM_FIREBASE_AUTHDOMAIN
      - MM_FIREBASE_KEY
      - MM_FIREBASE_STORAGE_BUCKET
      - MM_FIREBASE_EMAIL
      - MM_FIREBASE_PWD
      - RMQ_CREDS_SYM_KEY
      - AES_INITIALIZATION_VECTOR
      - SITE_PC_ID
      - DEFAULT_WHITELISTED_IPS
      - MM_API_KEY
      - LISTENER_PREFIX
      - CHEERIOS_JWT_SECRET
      - REDIS_PASSWORD
      - MM_RMQ_USERNAME
      - MM_RMQ_PASSWORD
      - MM_RMQ_HOST
      - MM_RMQ_PORT

    volumes:
      - logs:/rest/out/
      - /var/www/cheerios/players:/var/www/cheerios/plr
      - /var/www/cheerios/stump:/var/www/cheerios/stp
      - /var/www/cheerios/powerpage:/var/www/cheerios/pwr

    expose:
      - {{wsgi_port}}
    command: bash -c "newrelic-admin run-program gunicorn --bind 0.0.0.0:{{wsgi_port}} -w 3 --threads 10 -t 30 --worker-class eventlet --log-level error --access-logformat='%(t)s "%(r)s" %(s)s %(b)s %(T)s' --access-logfile=out/gunicorn_access.log  --error-logfile=out/gunicorn_error.log cheerios.wsgi:application"

  nginx-proxy:
    build:
      context: ./docker-build
      dockerfile: Dockerfile.nginx-proxy-mh
    image: {{nginx_proxy_image}}
    hostname: {{nginx_hostname}}
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - logs:/rest/out/
      - /etc/nginx/certs:/etc/nginx/ssl/

  nginx-images:
    build:
      context: ./docker-build
      dockerfile: Dockerfile.nginx-images
    #Image tag is taking from jenkins
    image: {{nginx_images_image}}
    restart: always
    ports:
      - "8080:8080"
    command: "/usr/sbin/nginx"
    volumes:
      - /var/www/cheerios/players:/var/www/cheerios/plr
      - /var/www/cheerios/stump:/var/www/cheerios/stp
      - /var/www/cheerios/powerpage:/var/www/cheerios/pwr

  le:
    build:
      context: ./docker-build
      dockerfile: Dockerfile.logentries
    image: nexus.buzztime.com/cheerios/{{env}}-le:latest
    restart: always
    volumes:
      - logs:/rest/out/:ro
    command: bash -c "/logentries_install.sh True {{le_license_key}} {{le_hostname}} {{le_access_logs}} && /etc/init.d/logentries stop &&  /usr/bin/le monitor"

  lr:
    build:
      context: ./docker-build
      dockerfile: Dockerfile.logrotation
    image: nexus.buzztime.com/cheerios/{{env}}-lr:latest
    restart: always
    volumes:
      - logs:/rest/out/
      - /var/archives/cheerios:/var/archives/cheerios
      - /etc/hostname:/etc/hostname:ro
      - /etc/localtime:/etc/localtime:ro

#  led:
#    command: '-t {{led_token}} --no-stats'
#    image: 'logentries/docker-logentries'
#    mem_limit: 1g
#    restart: always
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock:ro

  disk-cleanup:
    build:
      context: ./docker-build
      dockerfile: Dockerfile.disk
    image: nexus.buzztime.com/cheerios/disk-cleanup:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/archives/cheerios:/var/archives/cheerios
      - data:/var/log/cleanup/

  listener:
    build:
      context: .
      dockerfile: docker-build/Dockerfile.listener
    image: nexus.buzztime.com/cheerios/{{env}}-listener:latest
    hostname: Listener
    restart: always
    privileged: true
    environment:
      - NEW_RELIC_CONFIG_FILE
      - NEW_RELIC_ENVIRONMENT
      - NEW_RELIC_LICENSE_KEY
      - LOGLEVEL
      - DEBUG
      - REDIS_MASTER_HOST
      - REDIS_SLAVE_1_HOST
      - REDIS_SLAVE_2_HOST
      - REDIS_PORT
      - REDIS_PASSWORD
      - USERNAME_FIELD_ID
      - RMQ_USERNAME
      - RMQ_PASSWORD
      - RMQ_HOST
      - RMQ_PORT
      - DEFAULT_WHITELISTED_IPS
      - MM_API_KEY
      - LISTENER_PREFIX
      - CHEERIOS_JWT_SECRET
      - LISTENER_QUEUE
      - MM_RMQ_USERNAME
      - MM_RMQ_PASSWORD
      - MM_RMQ_HOST
      - MM_RMQ_PORT
      - MM_VIRTUAL_HOST

    volumes:
      - logs:/rest/out/

    command: ["supervisord", "-c", "/etc/supervisor/supervisord.conf", "-n"]


volumes:
  logs:
  data:
