version: "3"

services:

  {{container_name}}:
    image: {{image}}
    hostname: "{{wsgi_hostname}}"
    ports:
      - "{{wsgi_port}}"
    extra_hosts:
      - "MSSQLHOST:{{mssql_host}}"
      - "mongodb {{mongodb}}"
    environment:
      - MONGOHOST
      - MONGODB
      - MSSQLHOST
      - REDISHOST
      - NEW_RELIC_CONFIG_FILE
      - NEW_RELIC_ENVIRONMENT
      - NEW_RELIC_LICENSE_KEY
      - LOGLEVEL
      - DEBUG
      - VIRTUAL_HOST={{virtual_hosts}}
      - FIREBASE_KEY
      - BRONTO_API_KEY
      - IMAGE_SERVER_DIR=/var/www/cheerios/plr/
      - IMAGE_SERVER_ROOT={{image_server_root}}
      - IMAGE_SERVER_STP=/var/www/cheerios/stp/
      - IMAGE_SERVER_PWR=/var/www/cheerios/pwr/
      - PNG_IMAGE_SERVER_DIR=/var/www/cheerios/plr/png/
      - PCI_API_KEY
      - RKI_API_KEY
      - MANIFEST_API_KEY
      - MONGOPORT
      - REDISPORT
      - MSSQLDBPROG
      - MSSQLDBGAMEPLAY
      - MSSQLUSERDB
      - MSSQLPLAYERPLUSDB
      - MSSQLDBGAMEMGMT
      - MSSQLUSER
      - MSSQLPASSWORD
      - CRISPAPIKEY
      - SPORTRADAR_API_KEY
      - FIREBASE_EMAIL
      - FIREBASE_PWD
      - FIREBASE_AUTHDOMAIN
      - FIREBASE_STORAGEBUCKET
      - FIREBASE_API_KEY
      - REDIS_MASTER_HOST
      - REDIS_SLAVE_1_HOST
      - REDIS_SLAVE_2_HOST
      - RECAPTCHA_VERIFY_URL
      - REDIS_PORT
      - MSSQLBROADCAST
      - CAPTCHA_SECRET_KEY
      - BUZZTIME_SUBSCRIBERS_LIST_ID
      - BIRTHDATE_FIELD_ID
      - CUSTOM_SOURCE_FIELD_ID
      - DISPLAY_NAME_FIELD_ID
      - HOME_SITE_ID_FIELD_ID
      - HOME_SITE_NAME_FIELD_ID
      - PLAYER_ID_FIELD_ID
      - REG_DATE_FIELD_ID
      - REGISTERED_SITE_ID_FIELD_ID
      - REGISTERED_SITE_NAME_FIELD_ID
      - USERNAME_FIELD_ID
      - MM_CHECK_PERMISSION_API
      - RMQ_USERNAME
      - RMQ_PASSWORD
      - RMQ_HOST
      - RMQ_PORT
      - MM_FIREBASE_API_KEY
      - MM_FIREBASE_AUTHDOMAIN
      - MM_FIREBASE_KEY
      - MM_FIREBASE_STORAGE_BUCKET
      - MM_FIREBASE_EMAIL
      - MM_FIREBASE_PWD
      - RMQ_CREDS_SYM_KEY
      - AES_INITIALIZATION_VECTOR
      - SITE_PC_ID
      - DEFAULT_WHITELISTED_IPS
      - MM_API_KEY
      - LISTENER_PREFIX
      - CHEERIOS_JWT_SECRET
      - REDIS_PASSWORD
      - MM_RMQ_USERNAME
      - MM_RMQ_PASSWORD
      - MM_RMQ_HOST
      - MM_RMQ_PORT

    volumes:
      - logs:/rest/out/
      - /var/www/cheerios/players:/var/www/cheerios/plr
      - /var/www/cheerios/stump:/var/www/cheerios/stp
      - /var/www/cheerios/powerpage:/var/www/cheerios/pwr
    networks:
      - cheerios
    deploy:
      #resources:
      #  limits:
      #    cpus: '1.5'
      #    memory: 2G
      replicas: 4
      labels:
        feature.description: "Backend"
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
    command: bash -c "newrelic-admin run-program gunicorn --bind 0.0.0.0:8002 -w 3 --threads 10 -t 30 --worker-class eventlet --log-level error --access-logformat='%(t)s "%(r)s" %(s)s %(b)s %(T)s' --access-logfile=out/gunicorn_access.log  --error-logfile=out/gunicorn_error.log cheerios.wsgi:application"

  nginx-proxy:
    image: {{nginx_proxy_image}}
    hostname: {{nginx_hostname}}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - logs:/rest/out/
    networks:
      - cheerios
    deploy:
      replicas: 4
      labels:
        feature.description: "Frontend-proxy"
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
    command: "/usr/sbin/nginx"

  nginx-images:
    image: {{nginx_images_image}}
    hostname: "{{env}}-nginx-image"
    ports:
      - "8080"
    volumes:
      - /var/www/cheerios/players:/var/www/cheerios/plr
      - /var/www/cheerios/stump:/var/www/cheerios/stp
      - /var/www/cheerios/powerpage:/var/www/cheerios/pwr
    networks:
      - cheerios
    deploy:
      replicas: 4
      labels:
        feature.description: "Frontend-image"
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
    command: "/usr/sbin/nginx"

  le:
    image: {{le_image}}
    networks:
      - cheerios
    volumes:
      - logs:/rest/out
    deploy:
      mode: global
      labels:
        feature.description: "Logentries"
      restart_policy:
        condition: any
    command: bash -c "/logentries_install.sh True {{le_license_key}} {{le_hostname}} {{le_access_logs}} && /etc/init.d/logentries stop && /usr/bin/le monitor"

  lr:
    image: nexus.buzztime.com/cheerios/{{env}}-lr:latest
    networks:
      - cheerios
    volumes:
      - logs:/rest/out
      - /etc/hostname:/etc/hostname:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/archives/cheerios:/var/archives/cheerios
    deploy:
      mode: global
      labels:
        feature.description: "Logrotation"
      restart_policy:
        condition: any

  #led:
  #  image: logentries/docker-logentries
  #  networks:
  #    - cheerios
  #  volumes:
  #    - /var/run/docker.sock:/var/run/docker.sock:ro
  #  deploy:
  #    resources:
  #      limits:
  #        cpus: '0.5'
  #        memory: 1G
  #    mode: global
  #    labels:
  #      feature.description: "Logentries docker daemon API"
  #    restart_policy:
  #      condition: any
  #  command: '-t bf8b3c1c-5e2a-4664-899b-2f5921ea7282 --no-stats'


  disk-cleanup:
    image: nexus.buzztime.com/cheerios/disk-cleanup:latest
    networks:
      - cheerios
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/archives/cheerios:/var/archives/cheerios
      - data:/var/log/cleanup/
    deploy:
      mode: global
      labels:
        feature.description: "disk-clean"
      restart_policy:
        condition: any

  viz:
    image: portainer/portainer:latest
    ports:
      - "8081:9000"
    networks:
      - cheerios
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/portainer:/data
    deploy:
      replicas: 1
      labels:
        feature.description: "viz"
      restart_policy:
        condition: any

  listener:
    hostname: Listener
    image: nexus.buzztime.com/cheerios/{{env}}-listener:latest
    privileged: true
    environment:
      - NEW_RELIC_CONFIG_FILE
      - NEW_RELIC_ENVIRONMENT
      - NEW_RELIC_LICENSE_KEY
      - LOGLEVEL
      - DEBUG
      - REDIS_MASTER_HOST
      - REDIS_SLAVE_1_HOST
      - REDIS_SLAVE_2_HOST
      - REDIS_PORT
      - REDIS_PASSWORD
      - USERNAME_FIELD_ID
      - RMQ_USERNAME
      - RMQ_PASSWORD
      - RMQ_HOST
      - RMQ_PORT
      - DEFAULT_WHITELISTED_IPS
      - MM_API_KEY
      - LISTENER_PREFIX
      - CHEERIOS_JWT_SECRET
      - LISTENER_QUEUE
      - MM_RMQ_USERNAME
      - MM_RMQ_PASSWORD
      - MM_RMQ_HOST
      - MM_RMQ_PORT
      - MM_VIRTUAL_HOST

    volumes:
      - logs:/rest/out/
    networks:
      - cheerios
    deploy:
      #resources:
      #  limits:
      #    cpus: '1.5'
      #    memory: 2G
      replicas: 1
      labels:
        feature.description: "Backend"
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: any
    command: ["supervisord", "-c", "/etc/supervisor/supervisord.conf", "-n"]


networks:
  cheerios:

volumes:
  logs:
  data:
  portainer:
