{% extends "rest_framework_docs/base.html" %}

{% block title %}Buzztime{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h1>Buzztime Web API</h1>
  <h3>Documentation of the Buzztime Web API.</h3>
</div>
{% endblock %}

{% block footer %}<div class="footer">Copyright © 2016 Buzztime.</div>{% endblock %}