<!DOCTYPE html>
<html>
    {% load static from staticfiles %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>

    <body ng-app="cheerios">
    Base class
        {% block content %}

        {% endblock %}
    </body>

    {% block script %}

    {% endblock %}
</html>
