version: "3"

services:

  fabric:
    image: nexus.buzztime.com/cheerios/testcontainer
    extra_hosts:
      - "MSSQLHOST:{{mssql_host}}"
      - "mongodb {{mongodb}}"
    environment:
      - MONGOHOST
      - MONGODB
      - MSSQLHOST
      - REDISHOST
      - NEW_RELIC_CONFIG_FILE
      - NEW_RELIC_ENVIRONMENT
      - NEW_RELIC_LICENSE_KEY
      - LOGLEVEL
      - VIRTUAL_HOST={{virtual_hosts}}
      - FIREBASE_KEY
      - BRONTO_API_KEY
      - IMAGE_SERVER_DIR=/var/www/cheerios/plr/
      - IMAGE_SERVER_ROOT={{image_server_root}}
      - IMAGE_SERVER_STP=/var/www/cheerios/stp/
      - IMAGE_SERVER_PWR=/var/www/cheerios/pwr/
      - PNG_IMAGE_SERVER_DIR=/var/www/cheerios/plr/png/
      - PCI_API_KEY
      - RKI_API_KEY
      - MANIFEST_API_KEY
      - MONGOPORT
      - REDISPORT
      - MSSQLDBPROG
      - MSSQLDBGAMEPLAY
      - MSSQLUSERDB
      - MSSQLPLAYERPLUSDB
      - MSSQLDBGAMEMGMT
      - MSSQLUSER
      - MSSQLPASSWORD
      - CRISPAPIKEY
      - SPORTRADAR_API_KEY
      - FIREBASE_EMAIL
      - FIREBASE_PWD
      - FIREBASE_AUTHDOMAIN
      - FIREBASE_STORAGEBUCKET
      - FIREBASE_API_KEY
      - REDIS_MASTER_HOST
      - REDIS_SLAVE_1_HOST
      - REDIS_SLAVE_2_HOST
      - RECAPTCHA_VERIFY_URL
      - REDIS_PORT
      - MSSQLBROADCAST
      - CAPTCHA_SECRET_KEY
      - BUZZTIME_SUBSCRIBERS_LIST_ID
      - BIRTHDATE_FIELD_ID
      - CUSTOM_SOURCE_FIELD_ID
      - DISPLAY_NAME_FIELD_ID
      - HOME_SITE_ID_FIELD_ID
      - HOME_SITE_NAME_FIELD_ID
      - PLAYER_ID_FIELD_ID
      - REG_DATE_FIELD_ID
      - REGISTERED_SITE_ID_FIELD_ID
      - REGISTERED_SITE_NAME_FIELD_ID
      - USERNAME_FIELD_ID
      - MM_CHECK_PERMISSION_API
      - RMQ_USERNAME
      - RMQ_PASSWORD
      - RMQ_HOST
      - RMQ_PORT
      - MM_FIREBASE_API_KEY
      - MM_FIREBASE_AUTHDOMAIN
      - MM_FIREBASE_KEY
      - MM_FIREBASE_STORAGE_BUCKET
      - MM_FIREBASE_EMAIL
      - MM_FIREBASE_PWD
      - RMQ_CREDS_SYM_KEY
      - AES_INITIALIZATION_VECTOR

    volumes:
      - logs:/rest/out/
      - /var/www/cheerios/players:/var/www/cheerios/plr
      - /var/www/cheerios/stump:/var/www/cheerios/stp
      - /var/www/cheerios/powerpage:/var/www/cheerios/pwr
    
    command: bash -c "fab coverage test"
    
volumes:
  logs:
  data:

